*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f2f2f2;

    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:900px;
    background:#fff;
    padding:40px;
    border:2px solid #ccc;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:30px;
    font-size:45px;
}

table{
    width:100%;
    border-collapse:collapse;
}

td{
    border:1px solid #ccc;
    padding:18px;
}

td:first-child{
    width:30%;
    font-weight:bold;
    font-size:22px;
}

input,
select{
    width:100%;
    padding:12px;
    font-size:18px;
    border:1px solid #ccc;
    border-radius:4px;
}

button{
    margin-top:25px;
    padding:12px 35px;
    font-size:20px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}
